<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/commons :: commonhead"></head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:replace="commons/commons :: .layui-header"></div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">电影信息管理</a>
                    <dl class="layui-nav-child layui-nav-itemed">
                        <dd><a th:href="@{/film/film_info/1}">电影列表</a></dd>
                        <dd><a th:href="@{/film/toAddFilm}">新增电影</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">新闻管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/news/news_info/1}">新闻列表</a></dd>
                        <dd class="layui-this"><a th:href="@{/news/toAddNews}">新增新闻</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">个人中心</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/user/toUpdate}">个人信息修改</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!--新增新闻表单-->
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">新闻标题</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input title" lay-verify="required" name="title"
                           placeholder="请输入新闻标题"
                           required type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">作者</label>
                <div class="layui-input-block">
                    <input autocomplete="off" class="layui-input author" lay-verify="required" name="author"
                           placeholder="请输入作者名(用 / 分割)"
                           required type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新闻内容</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea content" maxlength="100" name="content" placeholder="请输入新闻内容"
                              required
                              style="width: 500px"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">请选择发行日期</label>
                </div>
                <div class="layui-inline">
                    <input class="layui-input releaseDate" id="add-date" name="releaseDate" placeholder="请选择发行日期"
                           required
                           type="text">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn form-submit" lay-filter="form" lay-submit>立即提交</button>
                    <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="commons/commons :: .layui-footer"></div>
</div>

</body>
<script th:inline="javascript">
    window.onload = function () {
        // layui.use('layer', function () {
        //     var layer = layui.layer;
        //
        //     layer.msg('hello');
        // });
        // 表单中选择日期
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#add-date' //指定元素
            });
        });
        // 获取当前路径
        var ctxPath = [[${#httpServletRequest.getScheme()}]] + '://' + [[${#httpServletRequest.getServerName()}]] + ':' + [[${#request.getServerPort()}]] +
            [[${#httpServletRequest.getContextPath()}]];

        let formSubmit = document.querySelector(".form-submit");

        formSubmit.onclick = function (e) {
            e.preventDefault();
            let news = {
                releaseDate: document.querySelector('.releaseDate').value,
                content: document.querySelector('.content').value,
                author: document.querySelector('.author').value,
                title: document.querySelector('.title').value,
            };
            if (news.releaseDate.length < 1 || news.content.length < 1 || news.author.length < 1 || news.title.length < 1) {
                return false;
            }
            axios({
                    method: 'post',
                    url: ctxPath + "/news/saveNews",
                    data: news,
                }
            ).then(response => {
                // 设置请求后的处理逻辑
                if (response.data === "新闻保存成功") {
                    // 如果保存成功则在2秒后刷新当前页
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg(response.data);
                    });
                    setTimeout(() => {
                        location.reload(true);
                    }, 1000);
                    return false;
                }
                // 如果保存失败则弹出失败信息
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.msg(response.data);
                });
                return false;
            })
        }
    }
</script>
</html>